apiVersion: v1
kind: Secret
metadata:
  name: activity-service-app-secret
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: Opaque
stringData:
  Neo4j__Uri: replace-me
  Neo4j__Username: replace-me
  Neo4j__Password: replace-me
  Qdrant__Host: replace-me
  Qdrant__ApiKey: replace-me
  GoogleAi__ApiKey: replace-me
