apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-origin-cert
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: kubernetes.io/tls
stringData:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    replace-me
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN PRIVATE KEY-----
    replace-me
    -----END PRIVATE KEY-----
