apiVersion: v1
kind: Secret
metadata:
  name: identity-service-app-secret
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: Opaque
stringData:
  JWT__SECRET: replace-me
