apiVersion: v1
kind: Secret
metadata:
  name: identity-service-mongo-auth
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: Opaque
stringData:
  password: replace-me
