apiVersion: v1
kind: Secret
metadata:
  name: identity-service-postgres-auth
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: kubernetes.io/basic-auth
stringData:
  username: identity_service_user
  password: replace-me
