apiVersion: v1
kind: Secret
metadata:
  name: dev-mongodb-secrets
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: Opaque
stringData:
  MONGODB_CLUSTER_ADMIN_USER: clusterAdmin
  MONGODB_CLUSTER_ADMIN_PASSWORD: replace-me
  MONGODB_USER_ADMIN_USER: userAdmin
  MONGODB_USER_ADMIN_PASSWORD: replace-me
  MONGODB_BACKUP_USER: backup
  MONGODB_BACKUP_PASSWORD: replace-me
