apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: quizzer-dev
  labels:
    app.kubernetes.io/part-of: quizzer
    app.kubernetes.io/environment: dev
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "replace-me",
          "password": "replace-me",
          "email": "replace-me"
        }
      }
    }
